#navbar {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
}


#navbar h2{
    margin-left: 2%;
    margin-right: auto;
    font-weight: normal;
}

#navbar li {
    display: inline-flex;
    padding-right: 2%;
}

#navbar a {
    color: blue;
}

#about-me {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Montserrat';
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;;
}

#about-me h2 {
    width: 100%;
    margin-left: 2%;
    font-weight: normal;
}

#about-me p {
    padding-right: 2%;
    width: 50%;
    margin-left: 2%;
}

#about-me img {
    padding-bottom: 5%;
    width: auto;
    max-width: 100%;
    height: auto;
}

#skill-section {
    width: 100%;
    background-color: white;
    color: black;
    font-family: 'Montserrat';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;;
}

#skill-section img {
    height: 10%;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

#skill-section h2 {
    width: 100%;
    font-weight: normal;
}

footer {
    font-family: 'Montserrat';
    text-align: center;
    height: 50px;
    margin-top: 50px;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 0px;
    padding: 1%;
}


